html{
height:100%;
overflow: hidden;
padding:0;
margin:0;
}
body{
height:100%;
position:absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
padding: 0;
border:0;
background:url(/css/img/grey.png) repeat 100% 100% #fff;
}
.main_wrap{
    background: url("/css/img/notepad.png") repeat-y scroll 0 0 transparent;
    height: 100%;
    margin-left: -2px;
}
#main{
margin-left:-1px;
height:100%;
overflow:hidden;
padding:0px 26px  0 49px;
}
/*
#main{
padding: 0 0 0 40px;
overflow:hidden;
height:100%;
}
*/
#left{
float:left;
left:-64px;
width:40px;
height:100%;
margin-left:-100%;
position:relative;
}
/*
.more{
display:block;
position:absolute;
left:0px;
bottom:0px;
width:32px;
height:32px;
background:url(img/more.png) no-repeat center center transparent;
cursor:pointer;
}
*/
#txt{
    text-shadow:1px 1px 1px #fff;
    font-family: "Courier New", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    background: none repeat scroll 0 0 transparent;
    color: #000000;
    float: left;
    font-size: 16px;
    height: 100%;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 10px;
    outline: medium none;
    padding-left: 26px;
    resize: none;
    width: 100%;
}
#left{
float:left;
height:100%;
left:-93px;
margin-left:-100%;
position:relative;
width:40px;
}
.more {
    background: url("/css/img/unlogin.png") no-repeat scroll 0 -41px transparent;
    bottom: 0;
    display: block;
    height: 41px;
    left: 0;
    position: absolute;
    width: 67px;
    margin-bottom: 23px;
    margin-left: 17px;
    cursor:pointer;
}
.more:hover{
margin-left:21px;
}
